body{
    width: 300px;
    height: 250px;
    background-color: rgb(34, 34, 34);
    color: rgb(255, 255, 255);
    display: flexbox;
    justify-content: center;
}

p{
    display:block;
    margin: auto 10px;
    font-size: 15px;
    border-radius: 1rem;
    padding: 15px;
}

#a_character{
    color: rgb(202, 145, 255);
    border: 1px solid rgb(26, 26, 26);
}

#a_name{
    color: rgb(202, 145, 255);
    border: 1px solid rgb(26, 26, 26);
}

#a_quotes{
    border: 1px solid rgb(26, 26, 26);
}